ul {
	list-style-type:none;
	background-color:lightblue;
	padding:10px, 0, 10px, 0; 
	a:link, a:visited {
	color: white;
	font-family:Arial, sans-serif;
        padding: 17px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
	
}
	}
a:hover, a:active {
    background-color: lightgray;
}

li { 
	padding: 10px, 0, 10px,  0;
} 
	
	
	
p1 {
	color: red;
	text-align: center;
}

h1 {
    color: navy;
    text-align: center;
}
